<div class="container">
<h1 class="h1">My tasks</h1>

<p>
  <% @tasks.each do |task| %>
  <%= form_with model: @task do |f| %>
  <%= f.label :"" %>
  <%= f.check_box :completed %>
   <%= link_to task.title, task_path(task) %>
   <%= link_to "ðŸ—‘ï¸", delete_path(task),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
  <% end %>
</p>

 <button class="btn"> <a href="#">  <%=  link_to "âž•Add a new task", tasks_new_path %></a></button>
</div>
